.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  flex: 0 0 40%;
  
  &__title {
    margin: 10px 0;
  }
  &__span {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__input {
    width: 75%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding: 1.5rem;
    font-weight: 700;
  }
}
